<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="resources/css/castamov_style.css" />

</head>

<body>

		<div class="StoreSearchWrap">
				<div class="Topbar">
						<div class="TopbarButtonLeftWrap">
								<a><div class="TopbarButtonLeft">Cancel</div></a>
						</div>
						<div class="TextTopbar">음악검색</div>
						<div class="TopbarButtonRightWrap">
							<!-- 	<a><div class="TopbarButtonRight PointColorYellow">Coin</div></a> -->
						</div>
				</div>
				<div class="StoreSearchTabButtonBG">
						<div class="StoreSearchBox"><i class="StoreSearchIcon"></i><span style="padding-left:10px;">Search</span></span></div>
						<a><div class="StoreSearchButton">검색</div></a>
				</div>
				<!-- List  -->
				<div class="StoreSearchMusicListWrap">
						<div class="StoreSearchMusicListSubWrap">
								<div class="StoreSearchMusicListTextWrap">
										<div>장재인 [여름밤 EP] 티저 (Jang Jane [Summernight EP] Teaser)</div>
										<div style="padding-top:10px;"><i class="StoreSearchMusicListLike"></i><span style="padding-left:10px;">5,634</span></div>
								</div>
								<div class="StoreSearchMusicListThumb">동영상 썸네일 들어가는 자리</div>
						</div>		
				</div>		
				<div class="StoreSearchMusicListWrap">
						<div class="StoreSearchMusicListSubWrap">
								<div class="StoreSearchMusicListTextWrap">
										<div>장재인 [여름밤 EP] 티저 (Jang Jane [Summernight EP] Teaser)</div>
										<div style="padding-top:10px;"><i class="StoreSearchMusicListLike"></i><span style="padding-left:10px;">5,634</span></div>
								</div>
								<div class="StoreSearchMusicListThumb">동영상 썸네일 들어가는 자리</div>
						</div>		
				</div>
				<div class="StoreSearchMusicListWrap">
						<div class="StoreSearchMusicListSubWrap">
								<div class="StoreSearchMusicListTextWrap">
										<div>장재인 [여름밤 EP] 티저 (Jang Jane [Summernight EP] Teaser)</div>
										<div style="padding-top:10px;"><i class="StoreSearchMusicListLike"></i><span style="padding-left:10px;">5,634</span></div>
								</div>
								<div class="StoreSearchMusicListThumb">동영상 썸네일 들어가는 자리</div>
						</div>		
				</div>	
				<!-- /List  -->
		</div>

</body>
</html>
