@charset "utf-8";
html>/**/body { overflow-y:scroll; } 
html, body {height: 100%; width: 100%;}
html {overflow-y: auto;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button, input {margin: 0; padding: 0;}
body, h1, h2, h3, h4, input, button {color: #ffffff; font-family:Helvetica,sans-serif; font-size: 34px;font-weight: 100;}
body {background:#353535;}
img, fieldset, iframe {border: 0 none;}
li {list-style: none outside none;}
input, select, button {vertical-align: middle;}
input:focus {outline: 0 none;}
textarea {outline: 0 none;}
img {vertical-align: top;}
label, button {cursor: pointer;}
button {margin: 0; padding: 0;}
a {cursor: pointer; text-decoration: none;}
a:hover {cursor: pointer; text-decoration: none;}
button * {position: relative;}
/*-common-------------------------------------------------------------------------------------*/
.PointColorPink{color: #ed145b;}
.PointColorYellow{color: #ffb915;}
.Topbar{
 width:100%;
 height: 93px;
 -webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, .4);
 -webkit-box-align: center;
 display: -webkit-box;
 position: relative;
 z-index: 10;
}
.LogoTopbar{
 width:258px;
 height: 45px;
 background:url(../images/logo_topbar.png) no-repeat;
}
.TopbarButtonLeftWrap{
 direction: ltr;
 text-align: left;
 -webkit-box-flex: 1;
 width: 0;
 margin: 0px 0 0 15px;
}
.TopbarButtonRightWrap{
 direction: rtl;
 -webkit-box-flex: 1;
 width: 0; 
 margin: 0px 15px 0 0px;
}
.TopbarButtonLeft{
 padding:0px 10px 10px 10px;
 border-color: #2a3349 #2a3a64 #253662;
 -webkit-box-shadow: inset 3px 1px 4px rgba(0, 0, 0, .3), 2px 2px 0px rgba(255, 255, 255, .17);
 -webkit-border-radius: 10px;
 text-align: center;
 display: inline-block;
 -webkit-box-sizing: border-box;
}
.TopbarButtonRight{
 padding:0px 10px 10px 10px;
 border-color: #2a3349 #2a3a64 #253662;
 -webkit-box-shadow: inset 3px 1px 4px rgba(0, 0, 0, .3), 2px 2px 0px rgba(255, 255, 255, .17);
 -webkit-border-radius: 10px;
 text-align: center;
 display: inline-block;
 -webkit-box-sizing: border-box;
}
/*-01splash-----------------------------------------------------------------------------------*/
.LogoSplashWrap{
 width: 100%;
 text-align: center;
}
.LogoSplash{
 margin: 0 auto;
 width:435px;
 height: 60px;
 background:url(../images/logo_splash.png) no-repeat;
 margin-top: 400px;
}
/*-02store_gps_start-------------------------------------------------------------------------*/
.StoreGPSWrap{
 width:100%;
 height: 100%;
}
.StoreGPSMapWrap{
 width:100%;
 height: 340px;
}
.StoreGPSMapBox{
 width:100%;
 height: 340px;
 position: relative;
 background: green;
}
.StoreGPSMapPlaceBox{
 width:100%;
 height: 55px;
 background: rgba(0, 0, 0, .75);
 position: relative;
 bottom:-285px;
}
.StoreGPSMapPlaceName{
 padding:7px 0 0 15px;
 font-size: 28px;
}
.StoreGPSTabButtonBG{
 height: 90px;
}
.StoreGPSMusicListWrap{
 width:100%;
 height: 110px;
 margin-bottom: 1px;
 background: rgba(32, 32, 32, 1);
}
.StoreGPSMusicListTextWrap{
 padding:40px 0 0 20px;
 font-size:30px;
 height: 110px;

  }
/*-03store_nowplaying-------------------------------------------------------------------------*/
.StoreNowWrap{
 width:100%;
 height: 100%;
}
.StoreNowMapWrap{
 width:100%;
 height: 340px;
}
.StoreNowMapBox{
 width:100%;
 height: 340px;
 position: relative;
 top:-55px;
 z-index: -10;
 background: green;
}
.StoreNowMapPlaceBox{
 width:100%;
 height: 55px;
 background: rgba(0, 0, 0, .75);
 position: relative;
 bottom:-285px;
}
.StoreNowMapPlaceName{
 padding:7px 0 0 15px;
 font-size: 28px;
}
.StoreNowTabButtonBG{
 border-top:1px solid #000000;
 border-bottom:1px solid #000000; 
 height: 90px;
 background: #232323; /* Old browsers */
 background: -moz-linear-gradient(top,  #232323 0%, #171717 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#171717)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  #232323 0%,#171717 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  #232323 0%,#171717 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  #232323 0%,#171717 100%); /* IE10+ */
 background: linear-gradient(to bottom,  #232323 0%,#171717 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#171717',GradientType=0 ); /* IE6-9 */
}
.StoreNowMusicListWrap{
 width:100%;
 height: 181px;
 border-bottom: 1px solid #000000;)
}
.StoreNowMusicListSubWrap{
 width:100%;
 height: 181px;
}
.StoreNowMusicListTextWrap{
 padding:30px 0 0 20px;
 font-size: 26px;
 height: 151px;
 background: rgba(0, 0, 0, .75);
 z-index: 400;
}
.StoreNowMusicListThumb{
 width:100%;
 height: 181px;
 position: relative;
 top:-181px;
 z-index: -10;
}
.StoreNowMusicListLike{
 width:20px;
 height:19px;
 background:url(../images/icon_like.png) no-repeat;
 display: inline-block;
}

